html, body {margin: 1px; ;height: 100%; overflow: hidden;}

#up {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#down {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#left {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#right {
	background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#myCanvas {
	background-image: url(1AECF376-3387-4402-B474-59BBB09E60C4.webp
);
    background-size: cover;                      
    background-repeat: no-repeat;
    background-position: center center;
}

#img {
	position: relative;
}
